@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1098px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 96px;
}

.intro__title {
  width: 100%;
  margin: 0 0 96px;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.intro__figure {
  max-width: 448px;
  margin: 0 0 64px;
}

.intro__image {
  display: block;
  max-width: 100%;
  object-position: center;
  object-fit: contain;
}

.intro__caption {
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.intro__text-content {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.intro__text {
  margin: 0 0 32px;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;

  color: #fff;
}

.intro__text:last-of-type {
  margin: 0;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 96px;
}

.facts__title {
  width: 100%;
  margin: 0 0 64px;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.facts__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));

  grid-gap: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.facts__card {
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;

  transition: all .2s ease-in-out;
}

.facts__card:hover {
  background-color: #1a1c1f;
}

.facts__card-title {
  margin: 0 0 12px;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

.facts__card-text {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.reference {
  width: 100%;
}

.reference__text {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.reference__link {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #fff;

  transition: all .2s ease-in-out;
}

.reference__link:hover {
  text-decoration-color: #fff;
}

.footer {
  width: 100%;
  max-width: 1114px;
  padding-bottom: 96px;
}

.footer__text {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.footer__link {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #fff;

  transition: all .2s ease-in-out;
}

.footer__link:hover {
  text-decoration-color: #fff;
}
