.reference__link {
  margin: 0;
  padding: 0;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-decoration: none;
  color: #fff;

  transition: color .2s ease-in-out;
}

.reference__link:hover {
  color: #6a6c6f;
}
